<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    {% if user.is_authenticated %}
      <p>Logged as {{ user.username }}</p>
      {% if show_cert_exc %}
        <p>Error: easyrsa show-cert command exception: contact support</p>
      {% else %}
        {% if user_in_pki %}
          <p>Already registered to VPN, please download config file
          <span><a class="btn btn-primary" href="{% url 'download_config' %}">here</a></span>
          </p>
        {% else %}
          <p>User not in PKI, please register
          <span><a class="btn btn-primary" href="{% url 'pki_register' %}">here</a></span>
          </p>
        {% endif %}
      {% endif %}
      <p><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></p>
    {% else %}
      <p>Login required</p>
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
  </body>
</html>