<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    {% if user.is_authenticated %}
      <p>Logged as {{ user.username }}</p>
      {% if user_in_pki %}
        <p>User in PKI, show link to download config file</p>
        <p><a class="btn btn-primary" href="{% url 'download_config' %}">download config file</a></p>
      {% else %}
        <p>User not in PKI, show link to form to register to PKI</p>
        <p><a class="btn btn-primary" href="{% url 'pki_register' %}">register to VPN PKI</a></p>
      {% endif %}

      <p><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></p>
    {% else %}
      <p>Login required</p>
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
  </body>
</html>